# Configuration file
# Generated on 11/29/12 9:06 PM

####################
# block
#===================
# This is were block ids are defined.
# Changing these will have adverse effects on existing worlds.
####################

block {
    # 
    # change to block.cube=0' to disable, this will disable the Concrete Block, Steel Block, etc... 
    # to disable individual cubes, see the block.feature section below
    # 
    I:block.cube=457

    # 
    # change to block.detector=0' to disable, loader/unloader recipe will use pressure plates instead of detectors
    # 
    I:block.detector=450

    # 
    # change to block.elevator=0' to disable, this will disable the Elevator Track
    # 
    I:block.elevator=455

    # 
    # change to block.machine.alpha=0' to disable, this will disable the Dispensers, Coke Oven, etc... 
    # to disable individual machines, see the block.feature section below
    # 
    I:block.machine.alpha=451

    # 
    # change to block.machine.beta=0' to disable, this will disable the Iron Tank, Boiler, etc... 
    # to disable individual machines, see the block.feature section below
    # 
    I:block.machine.beta=452

    # 
    # change to block.machine.gamma=0' to disable, this will disable the Loaders, Dispensers, etc... 
    # to disable individual machines, see the block.feature section below
    # 
    I:block.machine.gamma=453

    # 
    # change to block.ore=0' to disable, this will disable ALL added ores 
    # to disable individual ores, see the world.gen section below
    # 
    I:block.ore=458

    # 
    # change to block.post=0' to disable, this will disable Wood/Stone/Metal Posts
    # 
    I:block.post=459

    # 
    # change to block.post.metal=0' to disable, this will disable all painted Metal Posts
    # 
    I:block.post.metal=460

    # 
    # change to block.signal=0' to disable, this will disable the Signals, Switch Motors, etc... 
    # to disable individual machines, see the block.feature section below
    # 
    I:block.signal=456

    # 
    # change to block.track=0' to disable, this will disable ALL added rails except the Elevator Track 
    # to disable individual machines, see the block.feature section below
    # 
    I:block.track=454
}


####################
# block.feature
#===================
# Here is were you can enable/disable various sub-blocks.
# Railcraft will attemtpt to compensate for any missing component by providing alternatives (usually).
####################

block.feature {
    B:cube.brick.infernal=true
    B:cube.concrete.block=true
    B:cube.crushed.obsidian=true
    B:cube.steel.block=true
    B:cube.world.anchor=true
    B:machine.alpha.blast.furnace=true
    B:machine.alpha.coke.oven=true
    B:machine.alpha.dispenser.cart=true
    B:machine.alpha.dispenser.train=true
    B:machine.alpha.feed.station=true
    B:machine.alpha.loader.energy=true
    B:machine.alpha.loader.item.advanced=true
    B:machine.alpha.loader.liquid=true
    B:machine.alpha.rock.crusher=true
    B:machine.alpha.rolling.machine=true
    B:machine.alpha.tank.water=true
    B:machine.alpha.turbine=true
    B:machine.alpha.unloader.energy=true
    B:machine.alpha.unloader.item.advanced=true
    B:machine.alpha.unloader.liquid=true
    B:machine.alpha.world.anchor=true
    B:machine.beta.anchor.sentinel=true
    B:machine.beta.boiler.firebox.liquid=true
    B:machine.beta.boiler.firebox.solid=true
    B:machine.beta.boiler.tank.pressure.high=true
    B:machine.beta.boiler.tank.pressure.low=true
    B:machine.beta.engine.steam.high=true
    B:machine.beta.engine.steam.hobby=true
    B:machine.beta.engine.steam.low=true
    B:machine.beta.tank.iron.gauge=true
    B:machine.beta.tank.iron.valve=true
    B:machine.beta.tank.iron.wall=true
    B:machine.gamma.dispenser.cart=true
    B:machine.gamma.dispenser.train=true
    B:machine.gamma.loader.energy=true
    B:machine.gamma.loader.item=true
    B:machine.gamma.loader.item.advanced=true
    B:machine.gamma.loader.liquid=true
    B:machine.gamma.unloader.energy=true
    B:machine.gamma.unloader.item=true
    B:machine.gamma.unloader.item.advanced=true
    B:machine.gamma.unloader.liquid=true
    B:ore.saltpeter=true
    B:ore.sulfur=true
    B:structure.block.concrete=true
    B:structure.box.controller=true
    B:structure.box.receiver=true
    B:structure.post.metal=true
    B:structure.post.stone=true
    B:structure.post.wood=true
    B:structure.signal.block=true
    B:structure.signal.block.dual=true
    B:structure.signal.distant=true
    B:structure.switch.lever=true
    B:structure.switch.motor=true
    B:track.boarding=true
    B:track.boarding.train=true
    B:track.buffer.stop=true
    B:track.control=true
    B:track.coupler=true
    B:track.decoupler=true
    B:track.detector.direction=true
    B:track.disembarking=true
    B:track.disposal=true
    B:track.embarking=true
    B:track.gated=true
    B:track.gated.oneway=true
    B:track.holding=true
    B:track.holding.train=true
    B:track.junction=true
    B:track.launcher=true
    B:track.oneway=true
    B:track.priming=true
    B:track.reinforced=true
    B:track.reinforced.boost=true
    B:track.reinforced.junction=true
    B:track.reinforced.switch=true
    B:track.reinforced.wye=true
    B:track.slow=true
    B:track.slow.boost=true
    B:track.slow.junction=true
    B:track.slow.switch=true
    B:track.slow.wye=true
    B:track.speed=true
    B:track.speed.boost=true
    B:track.speed.switch=true
    B:track.speed.transition=true
    B:track.speed.wye=true
    B:track.suspended=true
    B:track.switch=true
    B:track.wye=true
}


####################
# carts
#===================
# Disable individual carts here.
####################

carts {
    B:cart.anchor=true
    B:cart.bore=true
    B:cart.energy.batbox=true
    B:cart.energy.mfe=true
    B:cart.energy.mfsu=true
    B:cart.loco.steam=true
    B:cart.pumpkin=true
    B:cart.tank=true
    B:cart.tnt=true
    B:cart.track.relayer=true
    B:cart.undercutter=true
    B:cart.work=true
}


####################
# general
####################

general {
    # 
    # change to 'check.version.online=false' to disable latest version checking
    # 
    B:check.version.online=true

    # 
    # change to 'register.handler.collision=false' to use a minecart collision handler from a different mod or vanilla behavior
    # 
    B:register.handler.collision=true

    # 
    # change to 'tweaks.anchor.delete=true' to delete every World Anchor or Anchor Cart in the world.
    # Value resets to false after each session.
    # To disable Anchors completely, disable the ChunkLoading Module from 'modules.cfg'
    # 
    S:tweaks.anchor.delete=false

    # 
    # change to 'tweaks.minecarts.basic.adjustDrag=false' to give basic carts the original vanilla drag values, after changing you may need to replace the carts to see any change in game
    # 
    B:tweaks.minecarts.basic.adjustDrag=true

    # 
    # change to 'tweaks.minecarts.bore.destroyBlocks=true' to cause the Bore to destroy the blocks it mines instead of dropping them
    # 
    B:tweaks.minecarts.bore.destroyBlocks=false

    # 
    # change to 'tweaks.minecarts.bore.mineAllBlocks=false' to enable mining checks, use true setting with caution, especially on servers
    # 
    B:tweaks.minecarts.bore.mineAllBlocks=true

    # 
    # add block ids to 'tweaks.minecarts.bore.mineableBlocks' in a common seperated list to define non-vanilla blocks mineable by the tunnel bore 
    # ignored if 'tweaks.minecarts.bore.mineAllBlocks=true' 
    # metadata sensative entries can be defined in the form 'blockid:metadata' 
    # Example:tweaks.minecarts.bore.mineableBlocks= { 123, 134:3 }
    # 
    S:tweaks.minecarts.bore.mineableBlocks={}

    # 
    # change to 'tweaks.minecarts.breakOnDrop=true' to restore vanilla behavior
    # 
    B:tweaks.minecarts.breakOnDrop=false

    # 
    # change to 'tweaks.minecarts.collideWithItems=true' to restore minecart collisions with dropped items, ignored if 'register.handler.collision=false'
    # 
    B:tweaks.minecarts.collideWithItems=false

    # 
    # change 'tweaks.minecarts.highspeed.max' to limit max speed on high speed rails, useful if your computer can't keep up with chunk loading, min=0.6, default=1.0, max=1.2
    S:tweaks.minecarts.highspeed.max=1.0

    # 
    # change the value to your desired minecart stack size, vanilla=1, default=3, max=64
    # 
    S:tweaks.minecarts.maxStackSize=3

    # 
    # change the value to your desired Tank Cart capacity in buckets, min=1, default=16, max=32, ignored if 'tweaks.minecarts.tank.useCustomValues=false'
    # 
    S:tweaks.minecarts.tank.capacity=16

    # 
    #  change the value to your desired Tank Cart fill rate in milli-buckets per tick, min=5, default=25, max=50 
    #    # there are 1000 milli-buckets in a bucket, ignored if 'tweaks.minecarts.tank.useCustomValues=false'
    # 
    S:tweaks.minecarts.tank.fillrate=25

    # 
    # change to 'tweaks.minecarts.tank.useCustomValues=true' to adjust the Tank Cart's capacity and fill rate
    # 
    B:tweaks.minecarts.tank.useCustomValues=false

    # 
    # change the value to your desired max launch rail force, min=5, default=30, max=50
    # 
    S:tweaks.rails.launch.force.max=30

    # 
    # change to 'tweaks.signals.printDebug=true' to log debug info for Signal Blocks
    # 
    B:tweaks.signals.printDebug=false

    # 
    # measured in tick, smaller numbers update more often, resulting in more sensitive signals, but cost more cpu power, default = 4
    # 
    I:tweaks.signals.update.interval=4

    # 
    # change to 'tweaks.sounds.play=false' to prevent all mod sounds from playing
    # 
    B:tweaks.sounds.play=true

    # 
    # Allows you to set the max Iron Tank base dimension, valid values are 3, 5, 7, and 9
    # 
    S:tweaks.tanks.maxsize=7

    # 
    # Change to 'tweaks.tanks.stack=false' to disable the stacking of Iron Tanks
    # 
    B:tweaks.tanks.stack=true

    # 
    # set the minimum number of seconds between cart dispensing, default=0
    # 
    S:tweaks.utility.cart.dispenser.delay=0
}


####################
# item
#===================
# Generally, many items can be disabled by setting the id to zero.
# This is not true for all item, so some experimentation may be needed.
# Some disabled items will cause a substitute to be used in crafting recipes.
####################

item {
    S:armor.steel.boots=7500
    S:armor.steel.helmet=7501
    S:armor.steel.legs=7502
    S:armor.steel.plate=7503
    S:dust=7504
    S:fuel.coke=7505
    S:ic2.upgrade.lapotron=7506
    S:item.cart.anchor=7507
    S:item.cart.batbox=7508
    S:item.cart.bore=7509
    I:item.cart.loco.steam=7550
    S:item.cart.mfe=7510
    S:item.cart.mfsu=7511
    S:item.cart.pumpkin=7512
    S:item.cart.tank=7513
    S:item.cart.tnt=7514
    S:item.cart.track.relayer=7515
    S:item.cart.undercutter=7516
    S:item.cart.work=7517
    S:liquid.creosote.bottle=7518
    S:liquid.creosote.bucket=7519
    S:liquid.creosote.can=7520
    S:liquid.creosote.liquid=7521
    S:liquid.creosote.refactory=7522
    S:liquid.creosote.wax=7523
    S:liquid.steam=7524
    S:part.circuit.controller=7525
    S:part.circuit.receiver=7526
    S:part.gear=7527
    S:part.ingot.steel=7528
    S:part.plate=7529
    S:part.rail=7530
    S:part.railbed=7531
    S:part.rebar=7532
    S:part.signal.lamp=7533
    S:part.tie=7534
    S:part.turbine.blade=7535
    S:part.turbine.disk=7536
    S:part.turbine.rotor=7537
    S:tool.bore.head.diamond=7538
    S:tool.bore.head.iron=7539
    S:tool.bore.head.steel=7540
    S:tool.crowbar=7541
    S:tool.magnifying.glass=7542
    S:tool.signal.tuner=7543
    S:tool.steel.axe=7544
    S:tool.steel.hoe=7545
    S:tool.steel.pickaxe=7546
    S:tool.steel.shovel=7547
    S:tool.steel.sword=7548
    S:tool.surveyor=7549
}


####################
# loot
#===================
# Loot chances are defined here.
# Smaller values are rarer.
# Example Loot:
#    Bread = 100
#    Redstone = 50
#    Record = 5
#    Golden Apple = 1
####################

loot {
    S:cart.basic=10
    S:cart.chest=10
    S:cart.tnt=5
    S:cart.work=8
    S:creosote.bottle=20
    S:fuel.coke=20
    S:steel.block=5
    S:steel.ingot=10
    S:tie.wood=20
    S:tool.crowbar=10
    S:tool.steel.axe=5
    S:tool.steel.pickaxe=5
    S:tool.steel.shovel=5
    S:tool.steel.sword=5
    S:track.basic=30
}


####################
# recipes
#===================
# You can control which Ores generate in the world here.
# If wish to disable world gen entirely,
# it is recommended that you disable the World Module in 'modules.cfg' instead.
####################

recipes {
    # 
    # change to 'recipes.forestry.fertilizer=false' to disable the saltpeter recipe for Forestry Fertilizer
    # 
    B:recipes.forestry.fertilizer=true

    # 
    # change to 'recipes.furnace.creosote=true' to add smelting recipes for Creosote Oil to the vanilla furnace
    # 
    B:recipes.furnace.creosote=false

    # 
    # change to 'recipes.gunpowder=false' to disable the sulfur, saltpeter, charcoal dust recipe for gunpowder
    # 
    B:recipes.gunpowder=true

    # 
    # change to 'recipes.ic2.macerator.blaze=true' to disable the IC2 Macerator recipe for Blaze Powder
    # 
    B:recipes.ic2.macerator.blaze=false

    # 
    # change to 'recipes.ic2.macerator.bones=true' to disable the IC2 Macerator recipe for Bonemeal
    # 
    B:recipes.ic2.macerator.bones=false

    # 
    # change to 'recipes.ic2.macerator.charcoal=false' to disable the IC2 Macerator recipe for Charcoal Dust
    # 
    B:recipes.ic2.macerator.charcoal=true

    # 
    # change to 'recipes.ic2.macerator.cobble=true' to disable the IC2 Macerator recipes for Cobblestone
    # 
    B:recipes.ic2.macerator.cobble=false

    # 
    # change to 'recipes.ic2.macerator.dirt=true' to disable the IC2 Macerator recipe for Dirt
    # 
    B:recipes.ic2.macerator.dirt=false

    # 
    # change to 'recipes.ic2.macerator.obsidian=false' to disable the IC2 Macerator recipes for Cushed Obsidian and Obsidian Dust
    # 
    B:recipes.ic2.macerator.obsidian=true

    # 
    # change to 'recipes.ic2.macerator.ores=true' to disable the IC2 Macerator recipes for Ore Dusts
    # 
    B:recipes.ic2.macerator.ores=false

    # 
    # change to 'recipes.ic2.remove.refined.iron=true' to prevent Refined Iron from being used in any IC2 recipe. Use in combination with 'recipes.ic2.use.steel'
    # 
    B:recipes.ic2.remove.refined.iron=false

    # 
    # change to 'recipes.ic2.use.steel=true' to enable the use of Steel in any IC2 recipe that requires Refined Iron
    # 
    B:recipes.ic2.use.steel=false

    # 
    # change to 'recipes.minecart.bronze=false' to disable the bronze recipe for minecarts
    # 
    B:recipes.minecart.bronze=true

    # 
    # change to 'recipes.minecart.steel=true' to enable the steel recipe for minecarts
    # 
    B:recipes.minecart.steel=false

    # 
    # change to 'recipes.rock.crusher.ores=false' to prevent the game from crushing ores into dusts (only available if IC2 installed)
    # 
    B:recipes.rock.crusher.ores=true

    # 
    # change to 'recipes.track.vanilla=true' to use track recipes more similar to vanilla minecraft
    # 
    B:recipes.track.vanilla=false
}


####################
# worldgen
####################

worldgen {
    B:world.generate.saltpeter=true
    B:world.generate.sulfur=true
}


