# Configuration file
# Generated on 15/12/12 08:50

####################
# block
####################

block {
    I:"Architect's Table"=3032
    I:"Conveyor Belt"=3030
    I:Crate=3033
    I:Machine=3031
}


