# Configuration file

####################
# feature
####################

feature {
    # This allows for custom generation to be specified in the WorldCustomGen.txt file.
    B:AllowCustomGeneration=false

    # This will flatten the bedrock layer to a single block in height.
    B:FlatBedrock=true

    # This allows for vanilla ore generation to be REPLACED. Configure in the 'world.vanilla' section; vanilla defaults have been provided.
    B:ReplaceVanillaGeneration=false

    # If FlatBedrock is enabled, this will enforce it in previously generated chunks.
    B:RetroactiveFlatBedrock=false

    # This will retroactively generate ores in previously generated chunks.
    B:RetroactiveOreGeneration=false
}


####################
# world
####################

world {
    ####################
    # vanilla
    #===================
    # This section controls generation specifically related to vanilla Minecraft ores. THESE VALUES ARE USED INSTEAD OF STANDARD GENERATION IF REPLACEMENT IS ENABLED.
    ####################

    vanilla {
        ####################
        # dirt
        #===================
        # <UNIFORM> Generation settings for Dirt; Defaults: ClusterSize = 32, NumClusters = 20, MinY = 0, MaxY = 128
        ####################

        dirt {
            I:ClusterSize=32
            I:MaxY=128
            I:MinY=0
            I:NumClusters=20
            B:RetroGen=false
        }

        ####################
        # gravel
        #===================
        # <UNIFORM> Generation settings for Gravel; Defaults: ClusterSize = 32, NumClusters = 10, MinY = 0, MaxY = 128
        ####################

        gravel {
            I:ClusterSize=32
            I:MaxY=128
            I:MinY=0
            I:NumClusters=10
            B:RetroGen=false
        }

        ####################
        # coal
        #===================
        # <UNIFORM> Generation settings for Coal; Defaults: ClusterSize = 16, NumClusters = 20, MinY = 0, MaxY = 128
        ####################

        coal {
            I:ClusterSize=16
            I:MaxY=128
            I:MinY=0
            I:NumClusters=20
            B:RetroGen=false
        }

        ####################
        # iron
        #===================
        # <UNIFORM> Generation settings for Iron; Defaults: ClusterSize = 8, NumClusters = 20, MinY = 0, MaxY = 64
        ####################

        iron {
            I:ClusterSize=8
            I:MaxY=64
            I:MinY=0
            I:NumClusters=20
            B:RetroGen=false
        }

        ####################
        # gold
        #===================
        # <UNIFORM> Generation settings for Gold; Defaults: ClusterSize = 8, NumClusters = 2, MinY = 0, MaxY = 32
        ####################

        gold {
            I:ClusterSize=8
            I:MaxY=32
            I:MinY=0
            I:NumClusters=2
            B:RetroGen=false
        }

        ####################
        # redstone
        #===================
        # <UNIFORM> Generation settings for Redstone; Defaults: ClusterSize = 7, NumClusters = 8, MinY = 0, MaxY = 16
        ####################

        redstone {
            I:ClusterSize=7
            I:MaxY=16
            I:MinY=0
            I:NumClusters=8
            B:RetroGen=false
        }

        ####################
        # diamond
        #===================
        # <UNIFORM> Generation settings for Diamond; Defaults: ClusterSize = 7, NumClusters = 1, MinY = 0, MaxY = 16
        ####################

        diamond {
            I:ClusterSize=7
            I:MaxY=16
            I:MinY=0
            I:NumClusters=1
            B:RetroGen=false
        }

        ####################
        # lapis
        #===================
        # <NORMAL> Generation settings for Lapis; Defaults: ClusterSize = 6, NumClusters = 1, MeanY = 16, MaxVar = 16
        ####################

        lapis {
            I:ClusterSize=6
            I:MaxVar=16
            I:MeanY=16
            I:NumClusters=1
            B:RetroGen=false
        }

    }

}


