# Configuration file

####################
# block
####################

block {
    I:camouflage=3885
    I:concrete=3886
    I:explosive=3890
    I:glassButton=3882
    I:glassPressurePlate=3881
    I:iCBMMachine=3891
    I:missileAssembler=3892
    I:proximityDetector=3883
    I:reinforcedGlass=3887
    I:spikes=3884
    I:sulfurOre=3880
    I:turret=3888
    I:turretPlatform=3889
}


####################
# crafting
####################

crafting {
    B:"Allow Chemical Crafting"=true
    B:"Allow Contagious Crafting"=true
    B:"Allow EMP Tower Crafting"=true
    B:"Allow antiBallistic Minecart Crafting"=true
    B:"Allow antiBallistic Missile Crafting"=true
    B:"Allow antiGravitational Crafting"=true
    B:"Allow antiGravitational Missile Crafting"=true
    B:"Allow antimatter Crafting"=true
    B:"Allow antimatter Missile Crafting"=true
    B:"Allow anvil Crafting"=true
    B:"Allow anvil Grenade Crafting"=true
    B:"Allow anvil Minecart Crafting"=true
    B:"Allow anvil Missile Crafting"=true
    B:"Allow attractive Crafting"=true
    B:"Allow attractive Grenade Crafting"=true
    B:"Allow attractive Minecart Crafting"=true
    B:"Allow attractive Missile Crafting"=true
    B:"Allow breaching Crafting"=true
    B:"Allow breaching Minecart Crafting"=true
    B:"Allow breaching Missile Crafting"=true
    B:"Allow chemical Grenade Crafting"=true
    B:"Allow chemical Minecart Crafting"=true
    B:"Allow chemical Missile Crafting"=true
    B:"Allow cluster Minecart Crafting"=true
    B:"Allow cluster Missile Crafting"=true
    B:"Allow condensed Crafting"=true
    B:"Allow condensed Grenade Crafting"=true
    B:"Allow condensed Minecart Crafting"=true
    B:"Allow condensed Missile Crafting"=true
    B:"Allow contagious Minecart Crafting"=true
    B:"Allow contagious Missile Crafting"=true
    B:"Allow debilitation Crafting"=true
    B:"Allow debilitation Grenade Crafting"=true
    B:"Allow debilitation Minecart Crafting"=true
    B:"Allow debilitation Missile Crafting"=true
    B:"Allow emp Crafting"=true
    B:"Allow emp Missile Crafting"=true
    B:"Allow ender Crafting"=true
    B:"Allow ender Missile Crafting"=true
    B:"Allow endothermic Crafting"=true
    B:"Allow endothermic Missile Crafting"=true
    B:"Allow exothermic Crafting"=true
    B:"Allow exothermic Missile Crafting"=true
    B:"Allow fragmentation Crafting"=true
    B:"Allow fragmentation Minecart Crafting"=true
    B:"Allow fragmentation Missile Crafting"=true
    B:"Allow homing Grenade Crafting"=true
    B:"Allow homing Minecart Crafting"=true
    B:"Allow homing Missile Crafting"=true
    B:"Allow hypersonic Crafting"=true
    B:"Allow hypersonic Missile Crafting"=true
    B:"Allow incendiary Crafting"=true
    B:"Allow incendiary Grenade Crafting"=true
    B:"Allow incendiary Minecart Crafting"=true
    B:"Allow incendiary Missile Crafting"=true
    B:"Allow missileModule Grenade Crafting"=true
    B:"Allow missileModule Minecart Crafting"=true
    B:"Allow missileModule Missile Crafting"=true
    B:"Allow nuclear Crafting"=true
    B:"Allow nuclear Missile Crafting"=true
    B:"Allow nuclearCluster Missile Crafting"=true
    B:"Allow redMatter Crafting"=true
    B:"Allow redMatter Missile Crafting"=true
    B:"Allow rejuvenation Crafting"=true
    B:"Allow rejuvenation Minecart Crafting"=true
    B:"Allow rejuvenation Missile Crafting"=true
    B:"Allow repulsive Crafting"=true
    B:"Allow repulsive Grenade Crafting"=true
    B:"Allow repulsive Minecart Crafting"=true
    B:"Allow repulsive Missile Crafting"=true
    B:"Allow sMine Crafting"=true
    B:"Allow sMine Minecart Crafting"=true
    B:"Allow sMine Missile Crafting"=true
    B:"Allow shrapnel Crafting"=true
    B:"Allow shrapnel Grenade Crafting"=true
    B:"Allow shrapnel Minecart Crafting"=true
    B:"Allow shrapnel Missile Crafting"=true
    B:"Allow sonic Crafting"=true
    B:"Allow sonic Minecart Crafting"=true
    B:"Allow sonic Missile Crafting"=true
    B:"Allow thermobaric Crafting"=true
    B:"Allow thermobaric Minecart Crafting"=true
    B:"Allow thermobaric Missile Crafting"=true
}


####################
# disable_explosives
####################

disable_explosives {
    B:"Disable antiBallistic"=false
    B:"Disable antiGravitational"=false
    B:"Disable antimatter"=false
    B:"Disable anvil"=false
    B:"Disable attractive"=false
    B:"Disable breaching"=false
    B:"Disable chemical"=false
    B:"Disable cluster"=false
    B:"Disable condensed"=false
    B:"Disable contagious"=false
    B:"Disable debilitation"=false
    B:"Disable emp"=false
    B:"Disable ender"=false
    B:"Disable endothermic"=false
    B:"Disable exothermic"=false
    B:"Disable fragmentation"=false
    B:"Disable homing"=false
    B:"Disable hypersonic"=false
    B:"Disable incendiary"=false
    B:"Disable missileModule"=false
    B:"Disable nuclear"=false
    B:"Disable nuclearCluster"=false
    B:"Disable redMatter"=false
    B:"Disable rejuvenation"=false
    B:"Disable repulsive"=false
    B:"Disable sMine"=false
    B:"Disable shrapnel"=false
    B:"Disable sonic"=false
    B:"Disable thermobaric"=false
}


####################
# enabled_list
####################

enabled_list {
    B:Enabled_antidote=true
    B:Enabled_bombCart=true
    B:Enabled_defuser=true
    B:Enabled_grenade=true
    B:Enabled_laserDesignator=true
    B:Enabled_missile=true
    B:Enabled_poisonPowder=true
    B:Enabled_radarGun=true
    B:Enabled_remoteDetonator=true
    B:Enabled_rocketLauncher=true
    B:Enabled_signalDisrupter=true
    B:Enabled_sulfurDust=true
    B:Enabled_tracker=true
}


####################
# extras
####################

extras {
    B:CreeperExplosionInFire=true
    B:CreeperSulferDrop=true
}


####################
# features
####################

features {
    B:"Despawn redmatter"=false
    I:"redmatter Despawn time (in ticks)"=3600
}


####################
# general
####################

general {
    B:"Allow Chunk Loading"=true
    B:"Antimatter Destroy Bedrock"=true
    I:"Antimatter Explosion Size"=55
    B:"Exothermic Create Netherrack"=true
    I:"Limits the max missile tier for rocket launcher item"=2
    I:"Max Missile Distance"=10000
    I:"Reduce Obsidian Resistance"=45
    B:"Use Fuel"=true
}


####################
# item
####################

item {
    I:ItemAmmo=19225
    I:ItemSentryUpgrade=19226
    I:antidote=19222
    I:bombCart=19234
    I:defuser=19228
    I:grenade=19233
    I:laserDesignator=19231
    I:missile=19227
    I:poisonPowder=19220
    I:radarGun=19229
    I:remoteDetonator=19230
    I:rocketLauncher=19232
    I:signalDisrupter=19223
    I:sulfurDust=19221
    I:tracker=19224
}


####################
# ore_generation
####################

ore_generation {
    B:"Generate Sulfur Ore"=true
}


####################
# potion
####################

potion {
    I:frostBite=90
    I:toxin=88
    I:virus=89
}


