# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# updateTimeoutMilliseconds (int:1500) -- The timeout in milliseconds for the version update check.
# 
# Sat Jul 20 03:05:49 CDT 2013
allowDebugOutput=false
allowUpdateCheck=false
updateTimeoutMilliseconds=1500
